/*
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
          border: 1px solid black;
}
*/

.offpage {
    position: absolute;
    left: -9999px;
    z-index: 999;
    padding: 1em;
    background-color: black;
    color: white;
    opacity: 0;
  }
  .offpage:focus {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }

body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 85%;
    background-color: #d8f9df;
    padding: 10px;
    border: 1px solid rgb(108, 108, 4);
    
}

.banner {
        background-image: url("images/janpic.jpg");
        background-size: 100%;
        height: 20em;
        background-color: #d8f9df;
        }
    
main {
    background-color:#cff5b2 ;
    font-size:150%;
    }

.grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
    row-gap: 15px;
}

.grid img {
    width: 65%;
    border: 5px solid #078818;
    padding: 5px;
    background-color: #d8f9df;
    opacity: 45%;
    border-radius: 0px;
    transition-property: border-radius, opacity;
    transition-duration: 1s;
}

.grid img:hover {
    opacity: 100%;
    border-radius: 5%;
}

.flex {
    display: flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}

.flex img{
    width: 150px;
    margin: 15px 5px;
    padding: 5px;
}


.flex :nth-child(3n+1) {
    border: 5px dotted rgb(137, 231, 246);
    background-color: #160788;
}

.flex :nth-child(3n+2) {
    border: 10px solid rgb(241, 190, 226);
    background-color: #881407;
    border-radius: 25%;
}

.flex :nth-child(3n+3) {
    border: 20px double rgb(137, 246, 168);
    background-color: #046115;
    border-radius: 50%;
}

ul {
    list-style-type:none;
    display: flex;
    justify-content: space-around; 

}

li {
    border: 2px outset black;
    padding: 5px;
    background-color: #a3e7a9;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

nav {
    display: inline-block;
    width: 90%;
}


h1 {
    text-align:center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:#048e10;
    background-color: #fcfc06;
    }

p {
    line-height:1.1 ;
    }

footer {
    background-color:#ebf1be ;
    padding-right: 50%;
    }

.container {
    position:relative;
}

.container img {
    width: 50%;
    border: 10px solid rgb(105, 56, 220);
    padding: 5px;
    border-radius: 3px;
}
.bottom {
    position: absolute;
    left: 0px;
    opacity: 0%;
    border: 1px solid black;
    transition-property: opacity;
        transition-duration: 1.5s;
        transition-timing-function: ease-in;
}
img.bottom:hover  {
    opacity: 100%;
}
/*
    img.top {
        display:inline;
        position:relative;
        opacity: 50%;
        z-index: 2;
        width: 50%;
    }
    
    img.bottom {
        display:inline;
        position:relative;
        width: 50%;
        z-index: 1;
        opacity: 50%;

    }
    /*
        transition-property: opacity;
        transition-duration: 1.5s;
        transition-timing-function: ease-in;
    }
    
    img.bottom:hover  {
        opacity: 100%;
    }